## Task 1
#### Create a program that produces a typed parquet file
result was saved in directory 'data/green_tripdata_2013-09'

In [75]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local') \
    .appName('Onemount Test') \
    .getOrCreate()
df = spark.read.csv('data/green_tripdata_2013-09.csv', header = True)

for column_name in df.columns:
    df = df.withColumnRenamed(column_name, column_name.replace(" ", "").lower())

df.printSchema()

df.repartition(1).write.mode('overwrite').parquet('data/green_tripdata_2013-09')

root
 |-- vendorid: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- trip_type: string (nullable = true)

## Task 2
#### Create a derived dataset, from the one created above
result was saved in directory 'data/nyc_taxi_analysis'

#### Duration in seconds of the trip

In [76]:
from pyspark.sql import functions as F

df = spark.read.parquet('data/green_tripdata_2013-09')

timeDiff = F.unix_timestamp('lpep_dropoff_datetime')- F.unix_timestamp('lpep_pickup_datetime')
df = df.withColumn('trip_duration', timeDiff)

df.createOrReplaceTempView('nyc_taxi')
df_sql = spark.sql('''
    SELECT lpep_pickup_datetime, lpep_dropoff_datetime, trip_duration FROM nyc_taxi
''')

df_sql.show()

+--------------------+---------------------+-------------+
|lpep_pickup_datetime|lpep_dropoff_datetime|trip_duration|
+--------------------+---------------------+-------------+
| 2013-09-01 00:02:00|  2013-09-01 00:54:51|         3171|
| 2013-09-01 00:02:34|  2013-09-01 00:20:59|         1105|
| 2013-09-01 00:03:06|  2013-09-01 00:28:03|         1497|
| 2013-09-01 00:03:30|  2013-09-01 00:23:02|         1172|
| 2013-09-01 00:05:12|  2013-09-01 00:30:55|         1543|
| 2013-09-01 00:05:18|  2013-09-01 00:23:31|         1093|
| 2013-09-01 00:05:51|  2013-09-01 00:13:32|          461|
| 2013-09-01 00:07:01|  2013-09-01 00:13:56|          415|
| 2013-09-01 00:07:55|  2013-09-01 00:24:19|          984|
| 2013-09-01 00:07:58|  2013-09-01 00:38:32|         1834|
| 2013-09-01 00:08:30|  2013-09-01 00:13:58|          328|
| 2013-09-01 00:09:25|  2013-09-01 00:27:14|         1069|
| 2013-09-01 00:09:41|  2013-09-01 00:17:37|          476|
| 2013-09-01 00:11:14|  2013-09-01 00:16:05|          291|
| 2013-09-01 00:11:17|  2013-09-01 00:34:44|         1407|
| 2013-09-01 00:11:26|  2013-09-01 00:21:45|          619|
| 2013-09-01 00:11:46|  2013-09-01 00:27:51|          965|
| 2013-09-01 00:15:01|  2013-09-01 00:26:34|          693|
| 2013-09-01 00:15:27|  2013-09-01 00:24:30|          543|
| 2013-09-01 00:15:40|  2013-09-01 00:23:37|          477|
+--------------------+---------------------+-------------+
only showing top 20 rows

#### An int encoding to indicate if the pickup or dropoff locations were at JFK airport

In [77]:
# no time for researching, so i copied it on internet
import math
def cal_bounding_box(longitude:float, latitude:float):
    R = 6371  # earth radius in km
    radius = 5 # km
    min_lon = longitude - math.degrees(radius/R/math.cos(math.radians(latitude)))
    max_lon = longitude + math.degrees(radius/R/math.cos(math.radians(latitude)))
    min_lat = latitude - math.degrees(radius/R)
    max_lat = latitude + math.degrees(radius/R)
    
    return min_lon, max_lon, min_lat, max_lat

In [87]:
from pyspark.sql.types import IntegerType, FloatType

longitude_jfk_airport = -73.7787443
latitude_jfk_airport = 40.6398262

min_lon, max_lon, min_lat, max_lat = cal_bounding_box(longitude_jfk_airport, latitude_jfk_airport)

is_jfk_airport = F.udf(lambda p_lon, p_lat, d_lon, d_lat: 
                       1 if (min_lon<=p_lon and p_lon <= max_lon and min_lat <= p_lat and p_lat <= max_lat) 
                           or (min_lon<=d_lon and d_lon <= max_lon and min_lat <= d_lat and d_lat <= max_lat)
                       else 0, IntegerType())

df = df.withColumn('relative_jfk_airport', 
                   is_jfk_airport(df.pickup_longitude.cast(FloatType()), 
                                  df.pickup_latitude.cast(FloatType()), 
                                  df.dropoff_longitude.cast(FloatType()), 
                                  df.dropoff_latitude.cast(FloatType())))

df.createOrReplaceTempView('nyc_taxi')
df_sql = spark.sql('''
    SELECT count(*) no_jfk_airport FROM nyc_taxi WHERE relative_jfk_airport = 1
''')

df_sql.show()

+--------------+
|no_jfk_airport|
+--------------+
|           893|
+--------------+

In [86]:
df.repartition(1).write.mode('overwrite').parquet('data/nyc_taxi_analysis')